$lightGreen: #b9e7e7;

.app {
    display: flex;
    justify-content: center;

    .container {
        width: 1024px;

        //Login  $ register
        .link {
            text-decoration: none;
            color: inherit;
        }

        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;

            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                width: 250px;
                gap: 20px;

                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button {
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    cursor: pointer;
                    color: white;
                }

                span {
                    font-size: 12px;
                    text-align: center;
                }

                p {
                    font-size: 12px;
                    text-align: center;
                    color: red;
                }
            }
        }

        //Navbar
        .navbar {
            .container {
                padding: 10px;
                display: flex;
                justify-content: space-between;

                .logo {
                    width: 5px;
                    height: 5px;
                }

                .logo img {
                    width: 55px;
                    height: 65px;
                }

                .links {
                    text-decoration: none;
                    color: inherit;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }
                }

                .link {
                    padding-left: 20px;
                    padding-right: 30px;
                }



                .nav-links {
                    span {
                        padding-left: 20px;
                        padding-right: 10px;

                    }

                    .write {
                        background-color: $lightGreen;
                        height: 50px;
                        width: 50px;
                
                    }
                    // ::hover{
                    //     color: teal;
                    //     border: 1px solid;
                    //     border-color: #000;
                        
                    // }

                }

            }


        }
        //Footer
        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img{
                height: 50px;
            }
        }
//Home
.home{
    .posts{
        margin-top:50px;
        display: flex;
        flex-direction: column;
        gap: 150px;
        .post{
          display:flex;  
          gap: 100px;
          .img{
            flex:2;
            img{
                width: 100%;
                max-height: 400px;
                object-fit: cover;
            }
          }
          .content {
            flex: 3;
          }
        }
    }
}
    }
}